@page
@model CIS560Project.Pages.PlayerAveragesModel
@using BasketballData.Models
@{
    ViewData["Title"] = "PlayerHistory";
}

<h1 class="display-teaminfo">Player Information</h1>
<form id="menu-database">
    <div id="filters">
        <p>
            On this page you will find information regarding all players in the league regarding their name and position. These can be filtered using the below forms, at this time you can only search you using one of the below options at a time.
            The lowest option filled will be prioritized.
        </p>
        <p>If you would like to search by name, please enter the name below</p>
        <div id="name-search">
            <label>Name:</label>
            <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
        </div>
    </div>
    <div class="text-center">
        
        
        <div class="players">
                <h2>Players</h2>
                <table class="players-list">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Team</th>
                        <th>Position</th>
                        <th>MPG</th>
                        <th>PPG</th>
                        <th>APG</th>
                        <th>RPG</th>
                        <th>SPG</th>
                        <th>TPG</th>
                    </tr>
                    @foreach (Player player in @Model.Players)
                    {
                        <tr class="player-entry">
                            <td>@player.FirstName</td>
                            <td>@player.LastName</td>
                            <td>@player.TeamName</td>
                            <td>@player.Position</td>
                            <td>@player.MinutesPerGame</td>
                            <td>@player.PointsPerGame</td>
                            <td>@player.AssistsPerGame</td>
                            <td>@player.ReboundsPerGame</td>
                            <td>@player.StealsPerGame</td>
                            <td>@player.TurnoversPerGame</td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</form>
